.homepage-navbar {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  background: #222;
  color: #fff;
}

.homepage-navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

.homepage-navbar a.active,
.homepage-navbar a:hover {
  color: #a5b4fc;
  text-decoration: underline;
}

.homepage-welcome {
  text-align: center;
  margin-top: 7rem;
}

/* Dans HomePage.css */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

/* Exemple dans ton CSS */
.custom-hr {
  border: none;
  height: 2px;
  background-color: #fff;
  width: 300px;
  margin: 30px auto;
}

